<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="./assets/logo.png">    
    <title>Contacto</title>
    </head>
    <body id="contacto">
        <nav id="homeBanner"> <a href="../index.html">
        <img class="avatar" src="../assets/logo.png" alt=""></a>
        <header>
            <ul class="menu">
                <li><a href="servicios.html">servicios</a></li>
                <li><a href="sobre-mi.html">sobre mi</a></li>
                <li><a href="clientes.html">clientes</a></li>
                <li><a href="contacto.html">contacto</a></li>
            </ul>
        </nav>
        <div class="bannerSeccion"> <h1>contacto</h1></div>
        <div class="contenedor">
        <form class="formulario">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ludmila">
                <label for="correo">Correo Electronico</label>
                <input type="email" name="correo" id="correo" placeholder="micasilla@correo.com">
                <label for="telefono">Telefono<label>
                <input type="tel" name="telefono" id="telefono" placeholder="+54 9 15 2525 6969">
                <label for="comentario">Contanos tu proyecto</label>
                <textarea name="comentario" id="comentario" cols="25" rows="5" placeholder="Me gustaría un logo para mi marca"></textarea>
                <input type="submit" value="Enviar" id="boton">
        </form>   </div>
        <footer>
            <div> 
                <a href="https://www.whatsapp.com" target="_blank">
                    <img src="../assets/wpf.png"></a>
                    <a href="https://www.facebook.com/miccaestudio" target="_blank">
                    <img src="../assets/fbf.png"></a>                    
                    <a href="https://www.instagram.com/miccaestudio" target="_blank">
                    <img src="../assets/igf.png"></a>
                    <a href="https://www.behance.net/carballomicaela" target="_blank">
                    <img src="../assets/bef.png"></a>
            </div>
            <p>2020 | Todos los derechos reservados &copy;</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
    </html>